.gameboard {
  width: 50%;
  height: 500px;
  border-bottom: 15px solid rgb(35, 160, 35);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87ceeb, #e0f6ff);
}

.mario {
  position: absolute;
  width: 150px;
  bottom: 0;
}

.standing-mario {
  position: absolute;
  width: 140px;
  bottom: -5px;
  left: 20px;
}

.mario.jump {
  animation: mario-jump 500ms ease-out;
}

.pipe {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 80px;
  /* animation: pipe-animation 2s infinite linear; */
}

.clouds {
  position: absolute;
  width: 550px;
  /* animation: clouds-animation 20s infinite linear; */
}

.button {
  position: absolute;
  left: 355px;
  bottom: 10px;
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  width: 250px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.button .play {
  font-size: 40px;
  color: black;
}

.button .reset {
  font-size: 40px;
  color: black;
}
.message {
  width: var(--gameboard-width);
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding-top: 100px;
}

.hidden {
  display: none;
}
